.container {
  padding: 0.8rem;
  &-header {
    &:hover {
      cursor: pointer;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    & > h1 {
      margin: 0;
      font-size: 2rem;
    }
    & > svg {
      min-width: 32px;
      min-height: 32px;
      transition: all 0.3s;
    }

    .active {
      transform: rotate(180deg);
    }
  }
  &-inner {
    overflow: hidden;
    border-bottom: 2px solid black;
    & > ul {
      & > li {
        font-size: 1.5rem;
      }
    }
  }
}
